# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# Environments
.python-version
pip-log.txt
pip-delete-this-directory.txt

# Databases (If using any local exports)
*.sql
*.dump

# IDEs / Editors
.vscode/
.idea/
*.swp
*.swo

# OS related
.DS_Store
Thumbs.db

# Project specific
backend/venv/